<div>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 - Todos os direitos reservados</p>
            <p>Desenvolvido por Alessandro Franco</p>
        </div>
    </footer>
</div>

<!--treino Display: Flex-->
<Div class="cont">
<img src="assets/img/jogo1.PNG" alt="eed">
<img src="assets/img/jogo2.PNG" alt="eed">
<img src="assets/img/jogo3.PNG" alt="eed">
<p id="para">Teste Descrição do jogo 1, 2 e 3 Teste Descrição do jogo 1, 2 e 3 Teste Descrição do jogo 1, 2 e 3 Teste Descrição do jogo 1, 2 e 3</p>
</Div>